---
layout: base
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header id="collection_nav" class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ page.title }}</span>
      {% comment %}
      <div class="mdl-layout-spacer"></div>
      These are for navigation if we hide the divs:
      <button id="back_button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">arrow_back</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">arrow_forward</i>
      </button>
      {% endcomment %}
    </div>
  </header>

  <main class="mdl-layout__content" style="background-color: #eee">
    <div class="mdl-grid">
      {% for collection in page.collections %}
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          {% include resource_card collection-path=collection %}
        </div>
      {% endfor %}

    </div>
  </main>

</div>