---
layout: base
---
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header id="collection_nav" class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ page.title }}</span>
      <div class="mdl-layout-spacer"></div>
      {% comment %}
      These are for navigation if we hide the divs:
      <button id="back_button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">arrow_back</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">arrow_forward</i>
      </button>
      {% endcomment %}
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      {%- for resource in page.resources -%}
        <a class="mdl-navigation__link" href="#{{ resource.title | slugify}}">{{ resource.title }}</a>
      {%- endfor -%}
    </nav>
  </div>
  <main class="mdl-layout__content">
    {%- for resource in page.resources -%}
      <div id="{{ resource.title | slugify}}" style="max-width: 100%;">
        {% include collection/content resource=resource %}
      </div>
      {% if forloop.last != true %}<hr>{% endif %}
    {%- endfor -%}
  </main>
</div>