---
layout: base
---
<h1>{{ page.title }}</h1>

{{ content }}

<br>

{% assign collection_contents = site.collections | where: "label", page.collection | first %}
{% assign collection_docs = collection_contents.docs | sort: "order" %}
{% for resource in collection_docs %}
  {% if resource == page %}
    {% if forloop.last == false %}
      {% assign next_index = forloop.index0 | plus: 1 %}
      <a href="{{ collection_docs[next_index].url }}">Next</a>
    {% endif %}
    {% if forloop.first == false %}
      {% assign prev_index = forloop.index0 | minus: 1 %}
      <a href="{{ collection_docs[prev_index].url }}">Prev</a>
    {% endif %}
  {% endif %}
{% endfor %}